{% extends 'cartadmin/baseadmin.html' %}

{% load static %}


{% block container %}

<table class="table" id="pagination">
    <thead>
      <tr>
        <th scope="col">total Orders : {{total_order}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">total cashon delivery : {{total_online_payment}}</th>
      </tr>
      <tr>
        <th scope="col">total paypal : {{total_cashon_delivery}}</th>
      </tr>
    </tbody>
  </table>


  {% endblock container %}

  {% block chart %}{% endblock chart %}